body{
    background-color: rgba(231, 226, 226, 0.582);
}
.heading{
    text-align: center;
    margin-top: 4%;
}
p{
    font-size: 20px;
}
.container{
    margin-top: 60px;
    display: flex;
    gap: 20px;   
    justify-content: center; 
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1120px;
}
.box{
    background-color: white;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 3px 3px;
    padding: 30px 30px 0 50px;
    margin: 10px;
    width: 260px;
}
.box-push{
    transform: translateY(50%);
}
h2{
    margin-top: -10px;
}
p1{
    font-size: 20px;
}
img{
    float: right;
    margin-right: 20px;
    transform: translateY(25%);
}



@media screen and (max-width:768px){
    .container{
        width: 10rem;
    }
    .box-push{
        transform: translateY(0);
    }
}
  
  